<h1>New Landing page url</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.landing_page_url_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.landing_page_url_path(@conn, :index) %></span>
